.charactersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 1rem;
  margin-top: var(--margin-md);
}

.results {
  margin-top: var(--margin-sm);
  font-size: var(--font-size-md);
}
