.card {
  flex: 0 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 100%; /* Esto asegura que el contenedor de la imagen tenga un ancho del 100% del padre */
  height: 300px; /* Ajusta este valor al tamaño deseado */
  overflow: hidden; /* Esto evita que la imagen se desborde */
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
  height: 100%; /* Asegura que la imagen ocupe todo el contenedor */
}

.year {
  color: #888;
}

.details {
  margin-top: 10px;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
}

.title {
  font-weight: bold;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  overflow: hidden;
}
